center
    h1 Windows Settings
    p This is an all-original-code visual reconstruction of the Windows Settings as a demo for the Nektro/custom-elements/fl project.
    br
div(id="cont")
    a(href="#/system")
        fl-icon(icon="System")
        div System
        div Display, notifications, power
    a(href="#/devices")
        fl-icon(icon="Devices")
        div Devices
        div Bluetooth, printers, mouse
    a(href="#/network")
        fl-icon(icon="Globe")
        div Network & Internet
        div Wi-Fi, airplane mode, VPN
    a(href="#/personalize")
        fl-icon(icon="Personalize")
        div Personalization
        div Background, lock screen, colors
    a(href="#/apps")
        fl-icon(icon="AllApps")
        div Apps
        div Unistall, defaults, optional features
    a(href="#/accounts")
        fl-icon(icon="Contact")
        div Accounts
        div Your accounts, email, sync, work, family
    a(href="#/time-langauge")
        fl-icon(icon="TimeLanguage")
        div Time & language
        div Speech, region, date
    a(href="#/gaming")
        fl-icon(char="")
        div Gaming
        div Game bar, DVR, broadcasting, Game Mode
    a(href="#/ease-of-access")
        fl-icon(icon="EaseOfAccess")
        div Ease of Access
        div Narrator, magnifier, high contrast
    a(href="#/privacy")
        fl-icon(icon="LockLegacy")
        div Privacy
        div Location, camera
    a(href="#/update")
        fl-icon(icon="SyncLegacy")
        div Update & security
        div Windows Update, recovery, backup
    a(href="#/cortana")
        fl-icon(icon="RadioBtnOn")
        div Cortana
        div Speech, persmissions, notifications
